/* palette colori 
bg-color header: rbg: 56, 100, 216;
bg-footer, bg- bottone header, text: rgb: 36, 39, 42;
bg-color-button section 3, title header, bottone-footer: rgb: 144, 162, 220;
bg-color wave: rgb: 246, 246, 246;
*/
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial sans-serif;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header-container{
    max-width: 1170px;
    margin: 0 auto;
}
.container{
    max-width: 1170px;
    margin: 150px auto;
}


/* modifico bg-color header, footer, section */
header{
    background-color: rgb(56, 100, 216);
    margin-bottom: 100px;
}

.bg-grey{
    background-color: rgb(246, 246, 246);
}
.btn{
    background-color: white;
    padding: 12px 35px;
    border-radius: 22px;
    font-size: 15px
    text-decoration: none;
    display: inline-block;
}
.bottone1{
    color: rgb(36, 39, 42);
    margin-right: 15px;
}
.bottone2{
    background-color: rgb(36, 39, 42);
}
header nav ul {
    min-width: 500px;
    list-style: none;
}
/* Aggiungo img footer */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 473px;
    text-align: center;
    color: white;
}
/* aggiungo margine top a nav */
header nav{
    padding: 20px 0;
}
header a{
    color: white;
    text-decoration: none;
}
h1{
    font-size: 40px;
    margin-bottom: 30px;
}
section.hero p{
    font-size: 20px;
    margin-bottom: 20px;
}
/* fine header */

/* section */
.header-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.paragrafo-sezione{
    padding: 0 150px;
}
h2{
    font-size: 40px;
    margin: 20px 0;
}
 p{
    font-size: 20px;
}
section img{
    width: 500px;
}
.terza_sezione{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.sezione-coach{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.section-4 img{
    width: 40%;
}
.section-4 .paragrafo-sezione{
    width: 60%;
}
/* section 4 */
.img-section4{
    width: 800px;
}
.section-4{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    
}
h3{
    font-size: 25px;
}
.btn_sottosezione{
    background-color: rgb(144, 162, 220);
    color: white;
    margin-top: 30px;
    align-self: center;
    padding: 10px 0px;
}

.ultima-section{
    display: flex;
    flex-flow:  column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
    max-width: 1170px;
    margin: 0 auto;
}


/* footer */
footer{
    background-color: rgb(36, 39, 42);
}
footer ul{
    list-style: none;
    color: white;
    margin: 5px;
}
footer li:nth-child(1), footer h3{
    color: rgb(144, 162, 220);
}

footer span{
    color: white;
}
hr{
    color: rgb(144, 162, 220);
}
.footer_flex{
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}
.nav_menu{
    display: flex;
    flex-flow: row wrap;
    width: calc(100% / 6);
}
.footer-flex ul{
    width: calc(100% / 6);
}
.ul li{
    padding: 20px;
}
.footer-flex div{
    width: calc((100% / 6) * 2);
}
.footer-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 5px;
}
.linea{
    border-top: 2px solid rgb(144, 162, 220);
}
.titolo-footer{
    font-size: 20px;
    padding: 10px 0;
}
.seleziona-lingua{
    color: white;
    display: inline-block;
}
.img-italia{
    width: 20px;
    display: inline-block;
    
}
.emoji{
    color: white;
}
.emoji i{
    margin: 8px;
}
.colonna li{
    padding: 10px 0;
}
.btn-footer{
    background-color: rgb(144, 162, 220);
    color: white;
}
.spazio-sotto{
    margin-bottom: 0;
}
/* fine footer */
/* wave */
.wave-alta{
    display: block;
    color: rgb(246, 246, 246);
    margin-bottom: 0;
}
.wave-bassa{
    transform: rotate(180deg);
    color: rgb(246, 246, 246);
}