/* palette colori 
bg-color header: rbg: 56, 100, 216;
bg-footer, bg- bottone header, text: rgb: 36, 39, 42;
bg-color-button section 3, title header, bottone-footer: rgb: 144, 162, 220;
bg-color wave: rgb: 246, 246, 246;
*/
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug da rimuovere */
.debug{
    border: 1px solid black;
    min-height: 100px;
}
body{
    font-family: Helvetica, Arial sans-serif;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* modifico bg-color header, footer, section */
header{
    background-color: rgb(56, 100, 216);
    background-image: url(../img/);
}
footer{
    background-color: rgb(36, 39, 42);
}
.bg-grey{
    background-color: rgb(246, 246, 246);
}
.btn{
    background-color: white;
    padding: 10px;
    border-radius: 15%;
    text-decoration: none;
}
header nav ul {
    min-width: 500px;
    list-style: none;
}


